image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
pointcept-brackets-venv
venv
log
exp
weights
data
logs
application/data
application/data_debug
application/app_weights
outputs/
data/
submit_all_train_jobs.sh
submit_all_test_jobs.sh
.vscode
.idea
.env
*/.DS_Store
**/*.out
Mlugli
Teeth3DS

exp_brackets
exp_segmentation
